In [1]:
#A lambda function is a small anonymous function.
#A lambda function can take any number of arguments, but can only have one expression.
"""
syntax

lambda arguments : expression

"""
# with one argument

# normal function
def square(num):
    return num**2

square(5)

25

In [4]:
square = lambda num: num**2
square(6)

36

In [5]:
# with multiple arguments
# normal function -- adding number 
def add(x,y,z):
    return x + y + z

add(5,10,15)

30

In [7]:
add= lambda x,y,z: x+y+z
add(4,5,6)

15

In [8]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [9]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [13]:
##Map function
#The map function allows you to "map" a function to an iterable object.
#It returns map object.

"""
about map function

syntax ---->
map(function,sequence)

it applies the function to all the elements in the sequences 

returns the map object
"""

In [6]:
# sequence
my_nums = [1,2,3,4,5]
#function to square a number
def square(num):
    return num**2

In [7]:
map(square, my_nums)

In [8]:
for i in map(square, my_nums):
 print(i)

1
4
9
16
25

In [27]:
#ODD and EVEN NUMBERS
#sequence
my_nums = [1,2,3,4,5,6,7,8,9]
print(my_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
#function
def even_odd(num):
    if(num%2==0):
        return 'even'
    else:
        return 'odd'
    
print(even_odd)

<function even_odd at 0x000001E2F9688DC8>

In [29]:
list(map(even_odd,my_nums))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#Filter function
#The filter function allows you to filter the elements based on the condition given in the function.
#returns an filter object

"""
syntax ---->  filter(function,sequence)

it applies the function to all the elements in the sequences and 
retains only those elements which passes the specific conditions

"""

In [34]:
#To filter the words starting with 'o'
word_list = ['orange','oncology','morpho','apple','organism']
print(word_list)

['orange', 'oncology', 'morpho', 'apple', 'organism']

In [35]:
def starts_with_o(word):
    if(word[0] == 'o'):
        return True
    else:
        return False

In [36]:
list(filter(starts_with_o, word_list))

['orange', 'oncology', 'organism']

In [43]:
#To filter only the even numbers
# Sequence
nums = [0,1,2,3,4,5,6,7,8,9,10]
def check(num):
  if(num%2==0):
     return True
  else:
     return False

In [44]:
list(filter(check,nums))

[0, 2, 4, 6, 8, 10]

In [46]:
#Using map() and filter() with lambda functions
#Ex1) Square Ex
num = [1,2,3,5,4,6,8]
list(map(lambda num:num%2==0,num))

[False, True, False, False, True, True, True]

In [47]:
num = [1,2,3,5,4,6,8]
list(map(lambda num:num**2,num))

[1, 4, 9, 25, 16, 36, 64]

In [54]:
num = [1,2,3,5,4,6,8]
list(filter(lambda num: num%2==0, num))

[2, 4, 6, 8]

In [52]:
num = [1,2,3,5,4,6,8]
list(filter(lambda num:num**2,num))

for i in filter(lambda num:num**2,num):
 print(i)

1
2
3
5
4
6
8

In [67]:
"""
Task12 : Go through the below in-built functions with 2 examples each.
reduce()
zip()
enumerate()
"""
#The syntax of the reduce() function is as follows:

#Syntax: reduce(function, sequence[, initial]) -> value

#from functools import reduce

li = [1,2,8,12,17,25,32]

sum = reduce((lambda x,y: x+y),li)
print(sum)

97

In [79]:
#from functools import reduce
li =[1,2,8,12,17,25,32]

EO = reduce((lambda x,y:x-y),li)
print(EO)

-95

In [ ]:
#Reduce()
"""
The reduce() function accepts a function and a sequence and returns a single value calculated as follows:

Initially, the function is called with the first two items from the sequence and the result is returned.
The function is then called again with the result obtained in step 1 and the next value in the sequence. 
This process keeps repeating until there are items in the sequence.

"""

In [80]:
#from functools import reduce
 
def do_sum(x1, x2): 
    return x1 + x2

sum = reduce(do_sum, [2, 4, 6, 8])
print(sum)

20

In [88]:
#zip() Function
#join two tuple, list ,  in together.
'''

The zip() function returns a zip object, which is an iterator of tuples where the first item in each 
passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.
'''
a =('Hi','welcome','to','python')
b =('Hello','thank','you')
x= zip(a,b)
print(x)

<zip object at 0x000001E2F969F8C8>

In [89]:
for i in x:
 print(i)

('Hi', 'Hello')
('welcome', 'thank')
('to', 'you')

In [83]:
x= ['Hi','welcome to','python']
y= ['Hello','thank','you']
z = zip(x,y)

In [85]:
print(z)
for i in z: print(i)

<zip object at 0x000001E2F96955C8>
('Hi', 'Hello')
('welcome to', 'thank')
('python', 'you')

In [102]:
# with 3 itrators
a = ("amazon","microsoft","infosys")
b = (1,3,4,5,6)
c = ('samsung','mi','oneplus','apple')

m = zip(a, b, c)
print(m)

<zip object at 0x000001E2F96B1E08>

In [103]:
for i in m:
 print(i)

('amazon', 1, 'samsung')
('microsoft', 3, 'mi')
('infosys', 4, 'oneplus')

In [ ]:
#The enumerate() method adds counter to an iterable and returns it (the enumerate object).
# syntax:
 
    enumerate(iterable, start=0)
"""
enumerate() Parameters
The enumerate() method takes two parameters:

iterable - a sequence, an iterator, or objects that supports iteration
start (optional) - enumerate() starts counting from this number. If start is omitted, 0 is taken as start.
"""

In [114]:
a = ("amazon","microsoft","infosys",'samsung','mi','oneplus','apple')
x = enumerate(a,100)
print(x)
print(list(x))

<enumerate object at 0x000001E2F94DFAE8>
[(100, 'amazon'), (101, 'microsoft'), (102, 'infosys'), (103, 'samsung'), (104, 'mi'), (105, 'oneplus'), (106, 'apple')]

In [110]:
for i in x:
 print(i)

(0, 'amazon')
(1, 'microsoft')
(2, 'infosys')
(3, 'samsung')
(4, 'mi')
(5, 'oneplus')
(6, 'apple')