In [1]:
#Python has 2 loop command 
 #while loop
    #for loop
#With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [5]:
count = 10
# initialize sum and counter
sum = 0
i = 1

while i <= count:
    sum = sum + i
    i = i+1    
    print(i)

# print the sum
print("The sum is", sum)

2
3
4
5
6
7
8
9
10
11
The sum is 55

In [9]:
#While Else example.
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [10]:
#With the break statement we can stop the loop even if the while condition is true:
i = 1
while i < 5:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [11]:
#With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [4]:
#for conditionals
"""
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method 
as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
"""
a='hello'
print(a)

hello

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [5]:
# looping over the strings
str1 = "abcde"

for item in str1:
    print(item)

a
b
c
d
e

In [7]:
#range(start,stop,step)
#The range() function is used to generate a sequence of numbers over time.

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

# range(10) -> 10 is the stop parameter
# range(1,10) -> 1 is start,10 is stop
# range(1,10,2) -> 1 is start,10 is stop,2 is step

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(1,10,):
    print(i)

1
4
7

In [13]:
#looping in reverse order from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
# using break in for loops
for i in range(10):
    if ( i == 7):
        break
    print(i)

0
1
2
3
4
5
6

In [15]:
# using continue in for loops
# say you dont want to print 4,5,6
for i in range(10):
    if(i==4 or i == 5 or i == 6):
        continue
    print(i)

0
1
2
3
7
8
9

In [16]:

#pass
'''
pass keyword does nothing but you can avoid getting an error when empty code is not allowed. 
Empty code is not allowed in loops,if else conditions,functions,Classes etc
'''
if(4>2):
    pass

In [17]:
if(4>2):
    print("A")
else:
    pass

A

In [18]:
for i in range(10):
    pass

In [3]:
#Task 10
#using while loop print numbers from 10 to 1
#try using for loop to loop over tuples,sets and dictionaries
x = 10

while x>0:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [7]:
#Dictonary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
 print(x)
 
#------------
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
 print(x)

brand
model
year
Ford
Mustang
1964

In [8]:
#tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [9]:
#sets
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry